@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'mooli';
  src: url("../assets/fonts/Mooli.ttf") format("woff2");
  /* Puedes agregar formatos adicionales según tus necesidades */ }

/* styles.css */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-contenido {
  background-color: rgba(255, 255, 255, 0.021);
  width: 50%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  position: relative; }

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }

body {
  background-image: url(../assets/img/fondoessen.png);
  background-size: cover; }

.moniessen {
  width: 15.375rem;
  height: 6.375rem;
  margin: 20px; }

.container-fluid a {
  text-decoration: none;
  color: #e878a2;
  position: relative;
  font-size: 20px; }
  .container-fluid a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out; }
  .container-fluid a:hover::before {
    transform: scaleX(1); }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  header div {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px; }
  header .navbar-nav a {
    text-decoration: none;
    color: #e878a2;
    position: relative;
    font-size: 20px; }
    header .navbar-nav a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
      z-index: 1;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s ease-in-out; }
    header .navbar-nav a:hover::before {
      transform: scaleX(1); }

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin: 3.125rem; }

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.essen {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2.5rem; }
  .essen img {
    margin: 15px; }

.texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: 30px;
  -webkit-animation: scale-up-center 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 3s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

#carrito {
  border: none;
  color: #0a0a0a;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  padding: 10px 20px; }

#carrito:hover {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(130, 236, 135, 0.171); }

#cantidadCarrito {
  color: black; }

.custom-select {
  border-radius: 20px;
  background-color: #f8f9fa;
  /* Cambia este color según tus preferencias */
  width: 200px;
  /* Ajusta el ancho según tus necesidades */ }

.form-group {
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 10px; }

/* Estilos generales del modal */
#modalcarrito {
  display: none;
  /* Para ocultar el modal inicialmente */ }

.modal-dialog {
  max-width: 600px;
  /* Ajusta el ancho máximo del modal según tu diseño */ }

.modal-content {
  border-radius: 10px; }

.modal-header {
  background-color: #007bff;
  /* Color de fondo del encabezado */
  color: #fff;
  /* Color del texto del encabezado */ }

.modal-body {
  padding: 20px; }

.modal-footer {
  background-color: #f8f9fa;
  /* Color de fondo del pie del modal */ }

/* Estilos para los botones dentro del modal */
.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none; }

.btn-danger:hover {
  background-color: #c82333; }

.card {
  margin: 10px; }

.custom-select {
  padding: .3125rem; }

.label {
  font-size: 1.375rem;
  color: #E97BA4; }

.col-md-4 {
  height: 50%; }

.detallesbotones {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.fichatec {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* Estilo personalizado para el contenedor */
/* Estilo personalizado para el cuadro de diálogo */
.green-popup {
  font-size: 14px !important;
  /* Cambia el tamaño de la fuente a 14px */
  width: 40%;
  height: 40%;
  background: greenyellow; }

/* Estilo personalizado para el título */
.green-title {
  color: black !important;
  /* Cambia el color del título a blanco */ }

/* Estilo personalizado para el contenido */
.green-content {
  color: #080808 !important;
  /* Cambia el color del contenido a blanco */ }

/* Estilos personalizados para el botón de cierre del modal */
.custom-close-button {
  background: none;
  /* Eliminar fondo */
  border: none;
  /* Eliminar borde */
  padding: 0;
  /* Eliminar relleno */
  font-size: 24px;
  /* Tamaño de la fuente */
  color: #0e0d0d;
  /* Color del icono de cierre */
  /* Otros estilos según tus preferencias */ }

/* Estilos personalizados para el botón de cierre del modal */
.close {
  background: none;
  /* Eliminar fondo */
  border: none;
  /* Eliminar borde */
  padding: 0;
  /* Eliminar relleno */
  font-size: 44px;
  /* Tamaño de la fuente */
  color: black;
  /* Color del icono de cierre */
  position: relative;
  /* Otros estilos según tus preferencias */ }

.form {
  display: flex;
  justify-content: center; }
  .form div {
    width: 100%; }
    .form div iframe {
      width: 100%;
      height: 100vh;
      padding: 0px; }

.row {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem; }

.carrito img {
  width: 40px; }

.contenedorcarrito {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 20px; }

.col-md-4 {
  display: flex;
  justify-content: center; }

.card {
  width: 70%;
  text-align: center; }
  .card:hover {
    filter: brightness(0.7); }

.card-img-container {
  position: relative; }

.card-img {
  width: 100%;
  height: auto; }

.card-description {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo semi-transparente para el texto */
  padding: 10px; }

.card-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  /* Color de fondo del botón */
  color: #fff;
  /* Color del texto del botón */
  border: none;
  cursor: pointer; }
  .card-button a {
    text-decoration: none;
    color: black; }

.card-button:hover {
  background-color: #0056b3;
  /* Cambia el color de fondo del botón al pasar el cursor sobre él */ }

.navv {
  display: flex;
  flex-direction: row-reverse; }

.detalle-producto {
  font-size: 16px;
  /* Tamaño de fuente */
  color: #333;
  /* Color de texto */
  margin: 5px 0;
  /* Espacio entre párrafos */ }

.carrito {
  background-color: transparent;
  border: none; }
  .carrito button {
    background-color: transparent;
    border: none; }

.compras {
  display: flex;
  justify-content: center;
  align-items: center; }

.compra {
  background-color: #B0E0D2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%; }

.contenedorcarrito {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2.5rem; }

.buttone {
  margin: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.buttone:hover {
  background-color: #45a049; }

.buttone:active {
  background-color: #3e8e41; }

/* Estilo para el botón de eliminar */
.eliminar-producto {
  background-color: #ff3333;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  border: none;
  /* Sin borde */
  border-radius: 50%;
  /* Forma redonda */
  width: 30px;
  /* Ancho */
  height: 30px;
  /* Alto */
  font-size: 16px;
  /* Tamaño de fuente */
  cursor: pointer;
  /* Cambiar cursor al pasar el ratón */ }

/* Estilo para el botón de eliminar al pasar el ratón por encima */
.eliminar-producto:hover {
  background-color: #ff0000;
  /* Cambiar color de fondo al pasar el ratón */ }

.detallesc {
  color: #e878a2;
  text-decoration: underline;
  /* Aplicar subrayado */
  text-underline-position: under;
  /* Colocar el subrayado debajo del texto */ }

.card-img-container img {
  width: 100%; }

/* Estilos para la imagen del logo */
.moniessen {
  max-width: 100px;
  /* Ajusta el tamaño máximo del logo según tus necesidades */ }

/* Estilos para la barra de navegación */
.navbar {
  flex: 1;
  /* Hace que la barra de navegación ocupe el espacio disponible */
  text-align: center;
  /* Centra los elementos dentro de la barra de navegación */ }

/* Estilos para el carrito */
.carrito {
  display: flex;
  align-items: center; }

/* Estilos para el botón del carrito */
.carrito button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  /* Espaciado entre el botón del carrito y la cantidad */ }

/* Estilos para la cantidad en el carrito */
#cantidadCarrito {
  font-weight: bold;
  font-size: 18px;
  /* Tamaño del texto de la cantidad del carrito */ }

@media (max-width: 831px) {
  .essen {
    flex-direction: column; } }

@media (max-width: 673px) {
  .essen img {
    width: 90%;
    margin: 15px; }
  .container-fluid {
    margin: 0px; } }

@media (max-width: 435px) {
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 991px) {
  .row {
    gap: 25px; }
  header {
    justify-content: center;
    flex-direction: column; }
    header div {
      margin: 0px;
      display: flex;
      justify-content: space-around; }
    header .header {
      display: flex;
      flex-direction: column; }
  #carrito {
    display: flex;
    justify-content: center; } }

.col-md-4 {
  height: 50%; }

.detallesbotones {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.fichatec {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* Estilo personalizado para el contenedor */
/* Estilo personalizado para el cuadro de diálogo */
.green-popup {
  font-size: 14px !important;
  /* Cambia el tamaño de la fuente a 14px */
  width: 40%;
  height: 40%;
  background: greenyellow; }

/* Estilo personalizado para el título */
.green-title {
  color: black !important;
  /* Cambia el color del título a blanco */ }

/* Estilo personalizado para el contenido */
.green-content {
  color: #080808 !important;
  /* Cambia el color del contenido a blanco */ }

/* Estilos personalizados para el botón de cierre del modal */
.custom-close-button {
  background: none;
  /* Eliminar fondo */
  border: none;
  /* Eliminar borde */
  padding: 0;
  /* Eliminar relleno */
  font-size: 24px;
  /* Tamaño de la fuente */
  color: #0e0d0d;
  /* Color del icono de cierre */
  /* Otros estilos según tus preferencias */ }

/* Estilos personalizados para el botón de cierre del modal */
.close {
  background: none;
  /* Eliminar fondo */
  border: none;
  /* Eliminar borde */
  padding: 0;
  /* Eliminar relleno */
  font-size: 44px;
  /* Tamaño de la fuente */
  color: black;
  /* Color del icono de cierre */
  position: relative;
  /* Otros estilos según tus preferencias */ }

.fixed-top {
  position: unset;
  z-index: 0; }

.navbar-collapse {
  justify-content: center; }

footer {
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative; }

.social-icons img,
.whatsapp-icon img {
  width: 30px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin: 0 10px;
  cursor: pointer; }

.whatsapp-icon {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  /* Ajusta el valor según sea necesario para que esté por encima de otros elementos */
  height: 40px; }

.message-container {
  background-color: #58e95e;
  /* Verde */
  color: #000000;
  /* Negro */
  padding: 10px;
  border-radius: 5px;
  /* Esquinas redondeadas */
  display: none;
  /* Para que el fondo verde se ajuste al contenido */
  margin-right: 10px;
  /* Espacio entre el mensaje y el icono de WhatsApp */ }

@keyframes vibrar {
  0% {
    transform: translate(0); }
  25% {
    transform: translate(-2px, 2px); }
  50% {
    transform: translate(2px, -2px); }
  75% {
    transform: translate(-2px, 2px); }
  100% {
    transform: translate(0); } }

.mensaje-vibrante {
  animation: vibrar 0.3s infinite;
  /* Puedes ajustar la duración según tus preferencias */ }
