@import "./base/reset.scss";
@import "./base/font.scss";
@import "./layout/index.scss";
@import "./layout/contacto.scss";
@import "./layout/producto.scss";
@import "./layout/carrito.scss";
@import "./media/media831";
@import "./media/667";
@import "./media/media431";
@import "./components/media768";



.custom-select {
    border-radius: 20px;
    background-color: #f8f9fa; /* Cambia este color según tus preferencias */
    width: 200px; /* Ajusta el ancho según tus necesidades */
}

.form-group {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap:10px;
}
/* Estilos generales del modal */
#modalcarrito {
    display: none; /* Para ocultar el modal inicialmente */
}

.modal-dialog {
    max-width: 600px; /* Ajusta el ancho máximo del modal según tu diseño */
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: #f8f9fa; /* Color de fondo del pie del modal */
}

/* Estilos para los botones dentro del modal */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}
.card {
    margin: 10px;
}