@import "./base/reset.scss";
@import "./base/font.scss";
@import "./layout/index.scss";
@import "./layout/contacto.scss";
@import "./layout/producto.scss";
@import "./layout/carrito.scss";
@import "./media/media831";
@import "./media/667";
@import "./media/media431";
@import "./components/media768";

.col-md-4 {
    height: 50%;
} 
.detallesbotones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fichatec {
    display: flex;
    flex-direction: column;
    align-items: center
}