.detalle-producto {
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    margin: 5px 0; /* Espacio entre párrafos */
}
.carrito {
    background-color: transparent;
    border: none;
    button {
        background-color: transparent;
        border: none;
    }
}
.compras {
    display: flex;
    justify-content: center;
    align-items: center;
}
.compra {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.contenedorcarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2.5rem;
}