@media (max-width: 991px){
    .row {
        gap: 25px;
    }
    header {
        justify-content: center;
        flex-direction: column;
        div {
            margin: 0px;
            display: flex;
            justify-content: space-around;
        }
        .header {
            display: flex;
            flex-direction: column;
        }
    }
    #carrito {
        display: flex;
        justify-content: center;
    }
}